<div class="container col-xxl-8 px-4 py-2">
    <div class="row align-items-center g-5 py-5 d-flex flex-column-reverse flex-lg-row">
      <div class="col-10 col-sm-8 col-lg-6">
        <form>
          <div class="form-group mb-3">
            <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
          </div>
  
          <div class="form-group mb-3">
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
          </div>
  
          <div class="form-group mb-3">
            <input type="text" class="form-control" id="subject" placeholder="Enter subject" required>
          </div>
  
          <div class="form-group mb-3">
            <textarea class="form-control" id="message" rows="4" placeholder="Write your message here..." required></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary w-100">Send Message</button>
        </form>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Contact Us</h1>
        <p class="lead">
          Have questions or need assistance? Our team is here to help! Reach out to us for inquiries about our fresh fruit selection, orders, or any support you need. We’re committed to providing you with the best experience. Contact us today and let’s stay connected!
        </p>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  