<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/044/571/251/small_2x/illustration-of-fruit-mix-png.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Fresh & Organic Fruits Delivered to Your Doorstep!</h1>
        <p class="lead">Build your healthy lifestyle with our hand-picked selection of farm-fresh fruits. Our app is designed using the latest Bootstrap framework, ensuring a seamless experience across all devices. Explore, order, and enjoy nature’s best with just a few clicks!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Check out!</button>
        </div>
      </div>
    </div>
</div>