<app-hero></app-hero>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <app-productcard
        [title]="'Fresh Apple'"
        [description]="'Crisp and juicy apples, perfect for a healthy snack!'"
        [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2VTWGIgZiRASPG68cxeMtrxaflYekLBhL8A&s'">
      </app-productcard>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <app-productcard
        [title]="'Organic Banana'"
        [description]="'Rich in potassium and great for energy boosts.'"
        [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAiE9BZy3SyV4Xb83a3V-e8Ywq6z1bVZlGsA&s'">
      </app-productcard>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <app-productcard
        [title]="'Organic Papaya'"
        [description]="'Tropical sweetness with a rich, juicy taste. Buy Now!'"
        [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl1ye4488I4ZSpPQ474Rx7Hrms7l0bP55-8A&s'">
      </app-productcard>
    </div>
    
  </div>
</div>

<app-footer></app-footer>